<!-- ===================== -->
<!-- MENU -->
<!-- ===================== -->
<odoo>

    <!-- ===================== -->
    <!-- ROOT MENU -->
    <!-- ===================== -->
    <menuitem id="menu_student_root"
              name="Student Management"
              sequence="1"
              web_icon="students_app,static/description/icon.png"/>


    <!-- ===================== -->
    <!-- STUDENT PARENT MENU -->
    <!-- ===================== -->

    <menuitem id="menu_student_parent"
              name="Student"
              parent="menu_student_root"
              sequence="1"/>
    <!-- ===================== -->
    <!-- STUDENT MENUS -->
    <!-- ===================== -->

    <menuitem id="menu_student"
              name="View Students"
              parent="menu_student_parent"
              action="action_student"
              sequence="1"/>

    <menuitem id="menu_student_entry"
              name="Add Student"
              parent="menu_student_parent"
              action="action_student_entry"
              sequence="2"/>


    <!-- ===================== -->
    <!-- ATTENDANCE PARENT MENU -->
    <!-- ===================== -->

    <menuitem id="menu_student_attendance_parent"
              name="Attendance"
              parent="menu_student_root"
              sequence="2"/>


    <!-- Attendance Records -->
    <menuitem id="menu_student_attendance"
              name="Attendance Records"
              parent="menu_student_attendance_parent"
              action="action_student_attendance"
              sequence="3"/>


    <!-- Mark Attendance -->
    <menuitem id="menu_mark_attendance"
              name="Mark Attendance"
              parent="menu_student_attendance_parent"
              action="action_student_attendance_entry"
              sequence="4"/>


    <!-- Leave Management -->
    <menuitem id="menu_student_leave"
              name="Leaves"
              parent="menu_student_root"
              action="action_student_leave"
              sequence="5"/>

    <menuitem id="menu_student_mark"
              name="Mark"
              parent="menu_student_root"
              action="action_student_marks"
              sequence="6"/>
    
    <!-- <menuitem id="menu_bulk_password_reset"
            name="Bulk Password Reset"
            parent="menu_student_root"
            action="action_bulk_password_reset"
            sequence="7"/> -->
    
    <!-- Student Marks Menu -->
    <!-- <menuitem id="menu_student_marks"
            name="Semester Marks"
            parent="students_app.menu_student_root"
            action="action_student_score"
            sequence="10"/> -->

</odoo>