<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>Collage Management System</title>
</head>
<body>
    <div class="container">
        <div class="logo" style="background-image: url('{{ url_for('static', filename='images/logo.png') }}');"></div>
        <h1 class="h1">Collage Name</h1>
        <nav class="navbar">
            <a href="/">Home</a>
            <a href="/view_students">Students List</a>
            <a href="/add_students">Add Students</a>
            <a href="/attendance">Attendance Entry</a>
        </nav>
    </div>
    <div class="image" style="background-image: url('{{ url_for('static', filename='images/image.jpg') }}');">
        <h2  class="image_text">Home</h2>
    </div>
      <!-- ================= SEARCH BAR ================= -->
  <form method="get" action="/attendance_list" class="search-form">

    <input type="search"
           name="q"
           placeholder="Search by Student ID or Name"
           value="{{ request.args.get('q','') }}">

    <input type="date"
           name="date"
           value="{{ request.args.get('date','') }}">

    <button type="submit" class="search_button">Search</button>
  </form>

  <!-- ================= ATTENDANCE TABLE ================= -->
  <table class="display">

    <thead>
      <tr>
        <th>Student ID</th>
        <th>Student Name</th>
        <th>Date</th>
        <th>Check-in</th>
        <th>Check-out</th>
      </tr>
    </thead>

    <tbody>
      {% for a in attendance_records %}
      <tr>
        <td>{{ a.student_id }}</td>
        <td>{{ a.name }}</td>
        <td>{{ a.attendance_date }}</td>
        <td>{{ a.check_in_time or "-" }}</td>
        <td>{{ a.check_out_time or "-" }}</td>
      </tr>
      {% else %}
      <tr>
        <td colspan="5" style="text-align:center;">
          No attendance records found
        </td>
      </tr>
      {% endfor %}
    </tbody>

  </table>
    
</body>
</html>

