.so_form_view{
   width: 100%;
}
.so_kanban_record {
    color: #73a4e3;

}
.sbtn-primary{
    background-color: #73a4e3;
    color: white;
    padding: 5px 10px;
    width: 100px;
    margin-right: 10px;
}
.sbtn-secondary{
    background-color: #e6e9ed;
    color: rgb(12, 12, 12);
    padding: 5px 10px;
    width: 100px;
}
.so_form_view_sheet{
    
    background-color: rgba(240, 248, 255, 0.732);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}
group,field{
    text-size-adjust: 35px;
    width: 100%;
}
group{
    margin-top:2%;
}
